h1{
    color: red;
}
#home{
    font-size: 20px;
}
#about{
    font-size:20px;
}
#help{
    font-size:20px;
    color:white
}
#login{
    font-size:20px;
    color:white;
}
#register{
    font-size:20px;
    color:white;
}