table, th, td{
    border:1px solid black;
    border-collapse: collapse;
    padding:10px;
    text-align:center;
    font-size:20px;
    border-radius:25px;
    margin-left: 200px;
    margin-right: 100px;
cursor: pointer;

}
table{
    width:60%;
}
th{
    background-color: rgb(76, 76, 175);
}
tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: rgb(211, 221, 218);
}
td:hover{
    background-color:pink
}