<h1 [innerText]="name"></h1>
<img [src]="imgUrl" alt=""[class.rounded-circle]="isActive">
<h1 [style.color]="colorName" [class.bg-dark]="isActive" [class.bg-primary]="!isActive">{{address}}</h1>

<table class="table table-dark table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th [attr.colspan]="colSpanValue">Contact Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mikel</td>
            <td>23</td>
            <td>9999909090</td>
            <td>7889098789</td>
        </tr>
        <tr>
            <td>Mikel</td>
            <td>23</td>
            <td>9999909090</td>
            <td>7889098789</td>
        </tr>
        <tr>
            <td>Maan</td>
            <td>24</td>
            <td>9999909090</td>
            <td>7889098789</td>
        </tr>
        <tr>
            <td>Mill</td>
            <td>23</td>
            <td>9999909090</td>
            <td>7889098789</td>
        </tr>
    </tbody>
</table>